
@model SistemaWebEmpleado.Models.Empleado


@{
    ViewData["Title"] = "Sistema de Empleado";
}

    <h1>Crear Empleado</h1>

@using (Html.BeginForm("Edit", "Empleado", FormMethod.Post))
{

                        <div>

        @Html.LabelFor(model => model.Nombre)
        @Html.TextBoxFor(model => model.Nombre)
        @Html.ValidationMessageFor(model => model.Nombre)

                        </div>
                        <div>

        @Html.LabelFor(model => model.Apellido)
        @Html.TextBoxFor(model => model.Apellido)
        @Html.ValidationMessageFor(model => model.Apellido)

                        </div>
                            <div>

        @Html.LabelFor(model => model.DNI)
        @Html.TextBoxFor(model => model.DNI)
        @Html.ValidationMessageFor(model => model.DNI)

                            </div>
                        <div>

        @Html.LabelFor(model => model.Legajo)
        @Html.TextBoxFor(model => model.Legajo)
        @Html.ValidationMessageFor(model => model.Legajo)

                        </div>
                            <div>

        @Html.LabelFor(model => model.FechaNacimiento)
        @Html.TextBoxFor(model => model.FechaNacimiento)
        @Html.ValidationMessageFor(model => model.FechaNacimiento)

                            </div>
                                <div>

        @Html.LabelFor(model => model.Titulo)
        @Html.TextBoxFor(model => model.Titulo)
        @Html.ValidationMessageFor(model => model.Titulo)

                            </div>



                        <input type="submit" value="Edit" action="Edit" />

    @Html.ActionLink("Volver al Inicio", "Index", "Empleado")

}

@section SideBar{

        <div class="side-views">
             <h1>Administacion de Empleados</h1>
                 <h2>Editar Empleado</h2>
        </div>

}