<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    

</head>
<body>
      <div id="sidebar">
        @if (IsSectionDefined("SideBar"))
        {
            @RenderSection("SideBar")
        }
        else
        {
            <h2>Zona Sidebar Fija</h2>
        }
    </div>
    <div id="header">
        <h1>Sistemas de Empleados</h1>
    </div>
    <div id="menu">
        @Html.ActionLink("Home","Index","Home")
        @Html.ActionLink("Empleado","Index","Empleado")
    </div>
  
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        <p>info@Empleado.com</p>
    </div>
</body>
</html>
